@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Bharath Welcome to Azure Trainig by Atin gupta. A</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Release 5</a>.</p>
</div>
